* {
  font-family: Lato, sans-serif;
  background-color: hsl(0,0%,13%);
  color: aliceblue;
}

body {
  margin-bottom: 2em;
}

header {
  margin-top: 2em;
  margin-inline: 0.5em;
  background-color: hsl(0,0%,85%);
  color: black;
  text-align: center;
  padding: 5px;
}

.container {
  margin-inline: 0.5em;
  border:5px solid hsl(199,90%,34%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
}

h1 {
  background: none;
  color: black;
}

.title {
  text-transform: uppercase;
}

.subtitle {
  text-transform: uppercase;
}

.description {
  text-align: center;
  margin-inline-start: 0.2em;
}

.description-title {
  margin-left: 0.5em;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

#idea-icon {
  width: 100px;
  height: auto;
  object-fit: cover;
  margin-bottom: 0.5em;
}

.name-tag {
  border: 2em solid red;
}

.core-mechanic {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

@media screen and (min-width: 0px) and (max-width: 390px) {
  .video-container video {
    width: 250px;
  } 
}  

.video-container {
  text-align: center;
  margin-top: 0.5em;
  overflow: hidden;
  border: 5px solid hsl(199,90%,34%);
  margin-inline: 0.5em;
  margin-top: 0;
}

