* {
  font-family: Montserrat, sans-serif;
  background-color: hsl(0,0%,13%);
  color: aliceblue;
}

body {
  margin-bottom: 2em;
}

header {
  margin-top: 2em;
  margin-inline: 0.5em;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  padding: 5px;
}

.container {
  margin-inline: 0.5em;
  border:10px solid whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  /* border-radius: 20px; */
}

.h1 {
  text-transform: uppercase;
  background: none;
  color: black;
}


.h1-1 {
  text-transform: uppercase;
  background: none;
  color: black;
  text-align: left;
  margin-left: 0.5em;
}

.title {
  text-transform: uppercase;
  color: lightsalmon
}

.subtitle {
  text-transform: uppercase;
  color: lightcoral;
}

.description {
  text-align: center;
  margin-inline-start: 0.5em;
}

.description-title {
  text-transform: uppercase;
  margin-left: 0.5em;
  color: lightgreen;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

#idea-icon {
  width: 100px;
  height: auto;
  object-fit: cover;
  margin-bottom: 0.5em;
}

#music-icon {
  width: 80px;
  height: auto;
  object-fit: cover;
  margin-bottom: 00.5em;
}

#excel-sheet-logo {
  width: 250px;
  height: auto;
  object-fit: cover;
  margin-bottom: 1em;
}

#play-store-logo {
  width: 95px;
  height: auto;
  object-fit: cover;
  margin-bottom: 1em;
}


.core-mechanic {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

@media screen and (min-width: 0px) and (max-width: 390px) {
  .video-container video {
    width: 250px;
  } 
}  

.idea-container {
  text-align: left;
  overflow: hidden;
  border:10px solid whitesmoke;
  margin-inline: 0.5em;
  margin-top: 0; 
}

.audio-container {
  text-align: left;
  overflow: hidden;
  border:10px solid whitesmoke;
  margin-inline: 0.5em;
      
}

.video-container video {
  padding: 0.1em;
}

.label {
  color: lightblue;
}

a {
  color: lightgray;
}

a:hover {
  color: lightslategray;
}

a:visited {
  color: lightslategray;
} 

.description-subtitle {
  text-transform: uppercase;
  margin-left: 0.5em;
  color: lightpink
}

.design-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}


.audio-item {
  margin-bottom: 0.5em;
  margin-top: 0.5em; 
}


.story-container {
  margin-inline: 1.5em;
  padding: 5px;
  color: whitesmoke;
  background-color: darkviolet;
  border-radius: 5px;
}

.game-story {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

